
<h2>Eventos</h2>
<hr>
<br>
<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label>
    <input
      type="text"
      class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="filtroLista"
    >
    <button type="button" class="btn btn-success">Pesquisar</button>
  </div>
</div>
<!-- <h3>Filtro: {{filtroLista}}</h3> -->
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th><button type="button" (click)="isCollapsed = !isCollapsed" class="btn btn-outline-light btn-sm">Imagem</button></th>
      <th>Código</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data Evento</th>
      <th>Qtd Participantes</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let item of eventosFiltrados">
      <td>
        <img src="/assets/{{item.imagemURL}}"
        [style.width.px]="widthImg"
        [style.margin.px]="marginImg"
        [collapse]="isCollapsed" [isAnimated]="true"
        >
      </td>
      <td>{{item.eventoId}}</td>
      <td>{{item.tema}}</td>
      <td>{{item.local}}</td>
      <td>{{item.dataEvento}}</td>
      <td>{{item.qtdPessoas}}</td>
      <td>{{item.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8">
        <b>Nenhum evento encontrado!</b>
      </td>
    </tr>
  </tfoot>
</table>

<!-- Trás o resultado como json
{{eventos | json}} -->
